$('#district').show();
$('#panchayat_district_id').empty();
$('#panchayat_district_id').append($("<option></option>").attr("value","").text('Select District'));
<% for load_district in @load_districts %>
$('#panchayat_district_id').append($("<option></option>").attr("value", '<%= load_district.id %>').text('<%= load_district.name.titleize %>'));
<% end %>